@import "/styles/variables/colors";
@import "/styles/variables/size";


body{
    background-color: #333;
    color:$default_font_color;
}
@mixin node_skin{
    color:$default_font_color;
    border:solid $separater_color $separater_width;
    background-image: url("/assets/stone_00027.jpg");
    background-clip: border-box;
    background-repeat: round;
    box-shadow:4px 4px 4px 4px $shadow_color;
}
