@import "/styles/layout";
@import "/styles/skin";

.match-up-side {
  & {
    padding: 1.5rem 0 0rem;
    width: $side_dock_width;
    height: fit-content;
    text-align: center;
    @include node_skin;
  }

  &>.side {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  &>.win-count {
    position: absolute;
    top: 0;
    left: 0;
    color: $victory_color;
  }

  &.--1p {
    margin-left: 0;
  }

  &.--1p>.side {
    color: $player_color_west;
  }

  &.--2p {
    margin-right: 0;
    ;
  }

  &.--2p>.side {
    color: $player_color_east;
  }
}

.match-up-side>.player-profile {
  &{
    margin-top:1rem;
  }
  &>.player-name {
    width: 100%;
    font-size: 1.5rem;
  }

  &>.playable-name {
    font-size: 1.5rem;
  }
}

.match-up-side>.playable-profile {
  & {
    margin-top: 0.5rem;
    padding: 1rem 0;
  }

  &>.playable-name {
    width: 100%;
    font-size: 1.2rem;
  }

  &>.score {
    @include node_skin;
    padding:1rem;
    position: absolute;
    left:0;
    right:0;
    top:120%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: $victory_color;
    height: 1.5rem;
    
  }
}