<div class="rounge-dashboard">
  <ng-container *ngIf="(profile) as prof">
    <div class="view-area">
      <div class="side-dock --lhs">
        <div [@lhsDock]="currentMatchUp.seatOne!=null && showLHS">
          <match-up-side [playerSide]="1" [seat]="currentMatchUp!.seatOne" [wins]="currentMatchUp!.winsForSeatOne"></match-up-side>
        </div>
      </div>
      <div class="side-dock --rhs">
        <div [@rhsDock]="currentMatchUp.seatTwo!=null && showRHS">
          <match-up-side [playerSide]="2" [seat]="currentMatchUp!.seatTwo" [wins]="currentMatchUp!.winsForSeatTwo"></match-up-side>
        </div>
      </div>
      <div class="overlay-placeholder">
        <div class="overlay-window"[@entryList]="showEntries" >
          <rounge-entry-list (syncAction)="syncList()" [entries]="entries" [focusEntries]="focusEntries"></rounge-entry-list>
        </div>
      </div>
      <div class="live-brandings-block" (click)="showEntries=!showEntries">
        <div class="live-brandings">
          <div class="rounge-title">{{prof.name}}</div>
          <div class="presenter" *ngIf="prof.presenter">
            presented by {{prof.presenter}}
          </div>
          <div *ngIf="prof.supporter" class="supporter">
            {{prof.supporter}}
          </div>
        </div>
      </div>
    </div>
    <div class="section-separators">
    </div>

    <div class="ctrl-area">
      <tabset #ctrlTabs>
        <tab heading="SETUP">
          <rounge-profile-editor [profile]="profile"></rounge-profile-editor>
        </tab>
        <tab heading="MATCH UP">
          <match-up-profile-editor [matchNum]="currentMatchNum" [hasLoadOnce]="hasLoadOnce" [matchUp]="currentMatchUp" (championContinue)="championContinue()" (championShift)="championShift()" (initialLoad)="initialSetup()"></match-up-profile-editor>
          {{entryManager.latestUpdate}}
        </tab>
      </tabset>
    </div>
  </ng-container>
</div>