@import "/styles/skin";

.rounge-host-utilities {
  display: flex;
  align-items: center;
  justify-content: center;
}

.conference-master {
  height: 100%;
  width: 100%;
}

.conference-master>.game-column {
  width:30%;
}
.conference-master>.game-column>.header{
  &>.prev,&>.next{
    display: inline-block;
    margin:0 0.5rem;
  }
}

.game-column>.result-btns {
  & {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &>.btn {
    margin:0.24rem;
    font-size: 1.2rem;
  }

  &>.btn.--1p {
    color:$player_color_west;
    border: solid 2px $player_color_west;
  }

  &>.btn.--2p {
    color:$player_color_east;
    border: solid 2px $player_color_east;
  }

  &>.btn.--winner--1p {
    color: $default_font_color;
    background-color: $player_color_west;
  }

  &>.btn.--winner.--2p {
    color: $default_font_color;
    background-color: $player_color_east;
  }
}

.game-history {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-history>.result-list-container {
  overflow: hidden;
  height: 4.8rem;
  width: 100%;
  font-size: 1.5rem;
}

.game-history>.result-list-container>.result-list {
  & {
    display: inline-block;
    display: flex;
    height: 6rem;
    padding: 0.24rem;
    width: 100%;
    text-align: center;
    overflow-x: scroll;
    overflow-y:hidden;
  }

  &>.game {
    display: inline-block;
    width:fit-content;

    &.--1p {
      color: $player_color_west;
    }

    &.--2p {
      color: $player_color_east;
    }

    &.--focus {
      border-bottom: solid 1px $separater_color;
    }

  }
}

.header {
  text-align: center;
  margin: 1rem;
}

.game-history {
  height: 4rem;

}