<div class="dashboard-panel">
  <div class="view-section">
    <div class="active-tour-profile">
      <h2 class="name">MF2 Auto 2997</h2>
      <i class="icon fa-solid fa-flag"></i>
      <h2 class="subname">テキトーラウンジ</h2>
      <div class="producted-by">
        <div class="presenter">presented by Ponju39</div>
        <div class="productor">©モンスターファーム2 コーエーテクモゲームス</div>
      </div>
    </div>
  </div>
  <div class="ctrl-section"></div>
    <nav class="bottom-dock">
        <ul class="nav-btns">
          <a routerLink="rounge" class="nav-item">
            <div class="icon"><i class="fa-solid fa-arrows-spin"></i></div>
            <div class="text">Rounge</div>
          </a>
          <a routerLink="tournament" class="nav-item">
            <div class="icon"><i class="fa-solid fa-trophy"></i></div>
            <div class="text">Tourament</div>
          </a>
          <a routerLink="register" class="nav-item">
            <div class="icon"><i class="fa-solid fa-pen"></i></div>
            <div class="text">Register</div>
          </a>
          <a routerLink="record" class="nav-item">
            <div class="icon"><i class="fa-solid fa-book"></i></div>
            <div class="text">Record</div>
          </a>
        </ul>
        <div class="nav-background">
        </div>
      </nav>
</div>