@import "/styles/skin";
@import "/styles/layout";
@import "~ngx-bootstrap/tabs/tabs.css";

.rounge-dashboard {
  position: relative;
}

.rounge-list {
  font-size: 1rem;
  padding-left: 4rem;

  .recent-list {
    list-style: disc;
  }
}

.rounge-dashboard {
  width: 100%;
  height: 100%;
}

.view-area>.matchup-info-container>.main-dock{
  max-width:$main_dock_width;
}
.view-area>.matchup-info-container>.matchup-side {
  & {
    padding: 1.5rem 0 0rem;
    width: $side_dock_width;
    height:fit-content;
    text-align: center;
    @include node_skin;
  }

  .info-header {
    font-size: 1.2rem;
  }

  &>.side {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  &>.side-description {
    width: 100%;
    margin: 1rem 0 2rem;
    text-align: center;
    color: $victory_color;
    font-size: 1.2rem;

    .icon {
      margin: 0.5rem;
    }

    &>.win-count {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
    }
  }

  &.--1p {
    margin-left:0;
  }

  &.--1p>.side {
    color: $player_color_west;
  }

  &.--2p {
    margin-right:0;;
  }

  &.--2p>.side {
    color: $player_color_east;
  }
}

.view-area>.matchup-info-container{
  width:100%;
  display: flex;
  justify-content: space-between;
}
.view-area>.matchup-info-container>.matchup-side>.player-profile {
  &>.player-name {
    width: 100%;
    font-size: 1.5rem;
  }

  &>.playable-name {
    font-size: 1.5rem;
  }
}

.view-area>.matchup-info-container>.matchup-side>.playable-info {
  & {
    margin-top: 0.5rem;
    padding: 1rem 0;
  }

  &>.playable-name {
    width: 100%;
    font-size: 1.2rem;
  }

  &>.score {
    display: inline-flex;
    text-align: center;
    font-size:1.5rem;
    color:$victory_color;
    height:1rem;
  }
}

.view-area>.live-brandings-container{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.view-area>.live-brandings-container>.live-brandings {
  & {
    text-align: center;
    height:6.4rem;
    margin:auto auto 0;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    @include node_skin;
  }

  &>.supporter {
    width: 100%;
    font-size: 1rem;
  }

  &>.presenter {
    width: 100%;
    font-size: 1rem;
  }
}