<div class="rounge-dashboard">
  <ng-container *ngIf="(context$ |async ) as context">
    <div class="view-area">
      <div class="hoge" (click)="set();">set</div>
      <div class="hoge" (click)="clear()">set</div>
      <div class="matchup-info-container">
        <div class="side-dock --lhs">
          <div @lhsDock *ngIf="currentMatchUp!.seatOne!=null">
            <match-up-side [playerSide]="1" [seat]="currentMatchUp!.seatOne"  [wins]="currentMatchUp!.winsForSeatOne"></match-up-side>
          </div>
        </div>
        <div class="side-dock --rhs">
          <div @rhsDock *ngIf="currentMatchUp!.seatTwo!=null">
            <match-up-side [playerSide]="2" [seat]="currentMatchUp!.seatTwo" [wins]="currentMatchUp!.winsForSeatTwo" ></match-up-side>
          </div>
        </div>
        <div class="center-dock">
          <rounge-entry-list></rounge-entry-list>
        </div>
      </div>
      <div class="live-brandings-container">
        <div class="live-brandings">
          <div class="rounge-title">{{context.name}}</div>
          <div class="presenter" *ngIf="context.presenter">
            presented by {{context.presenter}}
          </div>
          <div class="supporter">
            {{context.supporter}}
          </div>
        </div>
      </div>
    </div>
    <div class="section-separators">
    </div>

    <div class="ctrl-area">
      <tabset #ctrlTabs>
        <tab heading="Match">
          <rounge-view-switcher></rounge-view-switcher>
        </tab>
        <tab heading="Tools">
        </tab>
        <tab heading="SETTINGS">
          <rounge-profile-editor [context]="context"></rounge-profile-editor>
        </tab>
      </tabset>
    </div>
  </ng-container>
</div>