<div class="rounge-profile-editor">
  <div class="rounge-options">
    <form class="edit-form" #profileEditor="ngForm" *ngIf="profile">
      <div class="form-item">
        <label class="label">Rounge Name</label>
        <input name="name" name="name" [(ngModel)]="profile.name" placeholder="name">
      </div>
      <div class="form-item">
        <label class="label">Host Name</label>
        <input class="input" name="presenter" [(ngModel)]="profile.presenter">
      </div>
      <div class="form-item">
        <label class="label">Supporter</label>
        <input name="supporter" class="input support" [(ngModel)]="profile.supporter">
      </div>
      <div class="form-item">
        <label class="label">Note</label>
        <textarea name="comment" class="input comment" [(ngModel)]="profile.note"></textarea>
      </div>
    </form>
    <div class="edit-form" *ngIf="!profile">
      No Rounge Profile
    </div>
  </div>
  <div class="rounge-options">
    <form class="edit-form" #configEditor="ngForm" *ngIf="loaderOption">
      <div class="form-item">
        <label class="label">Round</label>
        <label class="label">Spreadsheet API</label>
        <input name="epiEndpoint"class="input endpoint" type="textarea" [(ngModel)]="loaderOption.apiEndpoint">
        <label class="label">Entry Start</label>
        <input name="entryStart"class="datetime" type="datetime-local" [defaultValue]="entryStart" (blur)="onEntryStartChanged($event)">
        <label class="label">Entry Finish</label>
        <input name="entryDeadline" class="datetime"type="datetime-local" [defaultValue]="entryDeadline" (blur)="onDeadlineChanged($event)">
        <button class="btn btn-primary" [disabled]="hasLoadedOnce" (click)="initialSync.emit();">Initial Load</button>
        {{entryStart}}
      </div>
    </form>
    <div class="edit-form" *ngIf="!loaderOption">
      <p>No Loader Options</p>
    </div>
  </div>
  <div class="fn-btns">
    <button class="btn new"><i class="fa-solid fa-plus icon"></i>Reset</button>
    <button class="btn import"><i class="fa-solid fa-download icon"></i>Import</button>
    <button class="btn export"><i class="fa-solid fa-upload icon"></i>Export</button>
  </div>
</div>