@import "/styles/layout";
@import "/styles/skin";

.rounge-profile-editor{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
}
.rounge-options{
    text-align: left;
    display: flex;
    font-size:1rem;
    flex-grow: 1;
    width:50%;
    height:100%;
    align-items: flex-start;
}
.rounge-options>.edit-form{
    flex-grow:1;
    font-size:1rem;
    padding:0.5rem;
    width:100%;
    height:100%;
    @include standard-flexbox;
    align-items: flex-start;
    margin-right:0.5rem;
}

.rounge-options>.edit-form>.row{
    &{
        padding:0.24rem 1rem;
        width:100%;
        display: flex;
        flex-grow: 1;
    }
    label{
        display: inline-block;
        width:8rem;
    }
    textarea{
        flex-grow: 1;
        height:3rem;
        font-size:1rem;
    }
    input{
        font-size:1rem;
        flex-grow: 1;
    }
}

.fn-btns{
    &{
        flex-grow: 0;
        font-size: 1rem;
        height:fit-content;
        min-width:6rem;
        width:20%;
        display: flex;
        align-items: stretch;
        justify-content: center;
        flex-wrap: wrap
    }
    &>.btn{
        @include node_skin;
        font-size:1rem;
        text-align: left;
        margin:0.5rem;
        width:100%;
    }
    &>.btn:hover{
        transform:translateY(-0.1rem);
    }
    &>.btn>.icon{
        margin:0.24rem 1rem;
    }
}

.form-item{
    &{
        width:100%;
        font-size:1rem;
    }
    *{
        width:50%;
        font-size:1rem;
        display:block;
    }
    .comment{
        height:5rem;
    }
    .endpoint{
        width:24rem;
    }
}
.form-item>.count{
    width:3rem;
}

.form-item>.datetime{
    width:12rem;
}