<div class="match-up-profile-editor">
  <div class="ctrl-container" *ngIf="matchUp">
    <div class="match-selector">
      <span (click)="prevMatch.emit()" class="revert order">
        ◀
      </span>
      <span class="match-number">Match{{matchNum}}</span>
      <span (click)="nextMatch.emit()" class="progress order">
        ▶
      </span>
    </div>
    <div class="match-delete">
      <button class="btn btn-outline-danger delete" (click)="decline.emit(matchUp)">Decline</button>
    </div>

    <div class="entry-info column">
      <h3 class="header">Player1</h3>
      <form class="profile-editor" *ngIf="matchUp.seatOne as seat">
        <div class="player-info"><label class="name" for="entryName">Player</label><input name="entryName"
            [(ngModel)]="seat.entryName" class="input"></div>
        <div class="farm-info"><label class="name" for="farmName">Farm</label><input class="input" name="farmName"
            [(ngModel)]="seat.playerName"></div>
        <div class="monster-info"><label class="name" for="monsterName">Monster</label><input name="monsterName"
            [(ngModel)]="seat.playableName" class="input"></div>
      </form>
    </div>
    <div class="entry-info column">
      <h3 class="header">Player2</h3>
      <form class="profile-editor" *ngIf="matchUp.seatTwo as seat">
        <div class="player-info"><label class="name" for="entryName">Player</label><input name="entryName"
            [(ngModel)]="seat.entryName" class="input"></div>
        <div class="farm-info"><label class="name" for="farmName">Farm</label><input class="input" name="farmName"
            [(ngModel)]="seat.playerName"></div>
        <div class="monster-info"><label class="name" for="monsterName">Monster</label><input name="monsterName"
            [(ngModel)]="seat.playableName" class="input"></div>
      </form>
    </div>
    <div class="round-result column">
      <h3 class="header">Round Result</h3>
      <ol class="round-list">
        <li class="history" *ngFor="let item of matchUp.history;index as i;">
          <div class="btn --1p" *ngIf="item==1">1P</div>
          <div class="btn --2p" *ngIf="item==2">2P</div>
          <div class="btn --2p" *ngIf="item==-1">DRAW</div>
          <div class="delete" (click)="matchUp.history.splice(i,1)">×</div>
        </li>
      </ol>
      <button class="btn --1p" (click)="pushRoundResult(1)">
        1P
      </button>
      <button class="btn --2p" (click)="pushRoundResult(2)">
        2P
      </button>
    </div>
    <div class="match-result column">
      <h3 class="header">Match Result</h3>
      <ul class="round-list">
        <li class="history">
          <div class=""></div>
        </li>
      </ul>
      <button class="btn --1p" (click)="onLHSWins.emit();">
        1P Wins
      </button>
      <button class="btn --2p" [disabled]="matchUp==undefined || matchUp.seatTwo==undefined" (click)="onRHSWins.emit()">
        2P Wins
      </button>
    </div>
  </div>
  <div class="ctrl-container" *ngIf="!matchUp">
    No match defined
  </div>
</div>