$default_font_color:#eeef;
$invert_part_color:#121212ff;

$node_bg_color:#fffc;
$node_bg_color_dark:#000f;
$node_flame:#fff8;

$shadow_color:#000c;
$separater_color:$node_flame;

$player_color_west:rgb(255, 100, 100);
$player_color_east:rgb(101, 101, 255);
$victory_color:#ee8;