@import "/styles/shared";

$table_border: #121212ff;

.rounge-entry-list {
    width:100%;
    max-height:80%;
    max-width:100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    padding:1rem;
    @include node_skin;
}

.rounge-entry-list>.sync-btn{
    position: absolute;
    width:1rem;
    height:1rem;
    top:0;
    right:0;

    text-align: center;
    &>.icon{
        pointer-events: none;
    }
}
.rounge-entry-list>.sync-btn:hover{
    cursor: pointer;
}

.rounge-entry-list>.header {
    text-align: center;
    margin-bottom: 1rem;
}
.rounge-entry-list>.members-list{
    &{
        display: table;
        table-layout: fixed;
        border-collapse: separate;
        overflow: hidden;
        text-align: center;
        height:16rem;
    }

    &>.body-part,&>.header-part{
        display: block;
        max-height:16rem;
        padding: 0;
        width:100%;

        &>.no-entries{
            width:100%;
        }
        &>.member-info{
            display: block;
            width:100%;
        }
        
        &>.member-info>.colmn{
            display: inline-block;
            box-sizing: content-box;
            width:240px;
        }
        &>.member-info>.colmn.state{
            width:1rem;
        }
        
    }
    &>.body-part{
        overflow-y: scroll;
        background-color:whitesmoke;
        color:$invert_part_color;
    }
}
.rounge-summery{
    width:100%;
    text-align: center;
}

.rounge-summery>.entry{
    margin-right:1rem;
}